@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap');
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Red Rose', cursive;
    
}
  /*General Syling for header component*/
  nav{
    margin: auto;
    width: 80%;
    display: flex;
    margin-top: 25px;
 
}
.navLinks > a{
    flex: 1;
    color: #434343;
    text-decoration: none;
    text-align: center;
}
.hbtn >button{
    height: 42px;
    width: 170px;
    background-color: #A02279;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    text-align: center;
}

  /*General Syling for hero component*/
  .hero-container{
    margin: auto;
    width: 80%;
    margin-bottom: 60px;
  }
  .hero-text>p{
    font-size: 22px;
  }
  .colo{
    color: #A02279;
}
input::placeholder{
    color: #B8B8B8;
    padding-left: 15px;
}
.search{
    border: 1px solid #B8B8B8;
    border-radius: 8px 0px 0px 8px;
    height: 45px;
    width: 60%;
}
.searchbtn{
    background-color: #A02279;
    border: none;
    border-radius: 0px 8px 8px 0px;
    height: 44px;
    width: 30%;
    color: #FFFFFF;
    
}

 /*General Syling for Brands component*/
 .brands{
    background-color: #A02279;
    display: flex;
   
 }
 .brand{
    padding-top: 10px;
 }
  /*General Syling for main component*/
  .adv{
    text-align: center;
    font-size: 48px;
    margin-top: 55px;
    margin-bottom: 55px;
    font-weight: 700;
    color: black;
  }
  .rowCont{
    margin: auto;
    width: 80%;
  }
  
  .cap{
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    */
    font-size: 12px;
  }
  
  .cont>div>img{
    height: 265px;
    width: 260px;
  }
  .cont{
    text-align: center;
    border: 1px solid #D7D7D7;
    border-radius: 15px;
    
    
  }
 
   /*General Syling for bottom component*/
  .bottom{
    background-color: #A02279;
  }
  .bottomCont{
    margin: auto;
    width: 80%;
  }
  .nft-text{
    color: #FFFFFF;
  }
  .nft-text>h2{
    font-size: 48px;
    font-weight: 700;
  }
  .nft-text>p{
    font-size: 18px;
  }
  .bottom-btn{
    border: none;
    background-color: #FFFFFF;
    color: #A02279;
    border-radius: 8px;
    height: 48px;
    width: 40%;
  }
  /*General Syling for footer component*/
  .footer{
    background-color: #1D1D1E;
    color: #FFFFFF;
  }
  .footerCont{
    margin: auto;
    width: 80%;
  }
  .icons{
    gap: 40px;
  }
  .footer-links{
    padding-left: 100px;
    padding-top: 20px;
  }
  .footerLogo{
    padding-top: 20px;
  }
  .footer-links >a{
    text-decoration: none;
    color: #F1F3F9;
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
  }
  .copyright{
    font-size: 16px;
    color: #F7F7F7;
    
  }
/*General Syling for filter component*/
.filter{
  margin: auto;
    width: 80%;
}
.filterCont{
  margin-bottom: 50px;
  margin-top: 105px;
}
  .filterCont>a{
    text-decoration: none;
    color: #434343;
    font-size: 20px;
  }
  .filterCont>button{
    border: 1px solid #B4B4B4;
    border-radius: 8px;
    background-color: #FFFFFF;
    height: 48px;
    width: 15%;
    padding-right: 20px;
    margin-right: 15px;
    margin-top: -10px;
    text-align: left;
    padding-left: 20px;
    
  }
  .filterCont>button>img{
    float: right;

  }
/*General Syling for modal component*/
.modal{
  margin-top: 150px;
}
  .modal-title{
    font-size: 24px;
    
  }
  .mbody{
    width: 95%;
    margin: auto;
  }
  .mpara{
    font-size: 16px;
  }
  .mbtn{
    background-color: #F8F9FA;
    border-radius: 15px;
    border: 1px solid #CFD8DC;
    height: 68px;
    text-align: left;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Sora', sans-serif;
    padding-top: 20px;
  }
  .mcont{
    gap: 10px;
  }
  .micon{
    float: left;
    margin-top: -9px;
  }
  .wc{
    background-color: #FFFFFF;
  }
  
  .arr{
    float: right;
  }
  @media only screen and (max-width: 992px) {
    .filterCont{
      flex-direction: column;
      gap: 20px;
    }
    .filterCont>button{
      width: 30%;
    }
  }
@media only screen and (min-width: 769px){
      /*Big screen Syling for header component*/
    .headerContainer{
        margin-bottom: 70px;
    
    
    }
    nav{
        
     
    }
    .logoDiv{
        flex: 1;
        
       
    }
    .navLinks{
        flex: 2;
        display: flex;
        margin-top: 10px;
        margin: auto;
        
    }
    .btn{
        flex: 1;
        text-align: right;
        
    
        
    }

    .navLinks > a{
        flex: 1;
        color: #434343;
        text-decoration: none;
        text-align: center;
    }
    
    /*Big screen Syling for hero component*/
    .hero-container{
        display: flex;
        gap: 100px;
    }
    .hero-container >div{
        flex: 1;
    }

    .hero-text>h1{
        margin-bottom: 30px;
    }
    .hero-text>p{
        margin-bottom: 30px;
    }
  

    .hero-img{
        margin-right: -40px;
    }
    .hero-img >img{
        height: 300px;
        width: 90%;
        
    }

    
    /*Big screen Syling for brands component*/
    
    .brand{
        width: 33.3%;
        text-align: center;
        height: 70px;
    }
}
@media only screen and (max-width: 768px){
    .headerContainer{
        margin-bottom: 40px;
    
    
    }
    nav{
       
      flex-direction: column; 
    }
    .logoDiv{
        width: 30%;
        margin-top: 12px;
    }
    .logoDiv>img{
       width: 100%;
       
    }
    .navLinks{
        width: 60%;
        display: flex;
        
        margin: auto;
        
    }
    .btn{
        width: 20%;
    
        
    }
    .hero-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .hero-img{
        margin: auto;
    }
    /*brands component styling*/
    .brands{
        flex-direction: column;
    }
    .brand{
        padding-top: 30px;
        width: 100%;
        text-align: center;
        height: 100px;
    }
     /*bottom component styling*/
    .bottom-btn{
      width: 65%;
    }
     /*footer component styling*/
    .footerLogo{
        margin-bottom: 50px;
    }
    .footer-links{
        margin-left: -50px;
        margin-top: 30px;
    }
     /*filter component styling*/
     
   
}
@media only screen and (max-width: 600px){
    nav{
        flex-direction: column;
        
    }
    .logoDiv{
        margin-left: 10px;
        margin-bottom:20px ;
    }
    .navLinks{
        width: 100%;
        display: flex;
        
        margin: auto;
        margin-bottom:20px ;
        padding-right: 5px;
        padding-left: 5px;
        
    }
    .btn{
        margin: auto;
        width: 100%;

    }
    .btn>button{
        margin: auto;
        width: 70%;
    }
    .hero-img >img{
        margin: auto;
        width: 90%;
        
    }
}